.root {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 10px 16px 10px 35px;
  position: relative;

  img {
    margin-right: auto;
    width: 70px;
    height: 70px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 60px;

    a {
      font-size: 20px;
      font-weight: 600;
      color: #262626;
      text-decoration: none;
    }

    button {
      line-height: 25px;
      padding: 12px 9.5px;
      font-size: 18px;
      font-weight: 600;
      color: #680c20;
      cursor: pointer;
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    span {
      height: 4px;
      width: 25px;
      background: black;
      border-radius: 2px;
    }
  }

  @media screen and (max-width: 1150px) {
    .links {
      gap: 30px;
      a {
        font-size: 16px;
      }
      button {
        padding: 9.5px 5.5px;
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 860px) {
    .links {
      gap: 5px;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      background: white;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;

      a,
      button {
        margin-bottom: 15px;
        width: 100%;
        max-width: 300px;
        text-align: center;
      }
    }

    .open {
      display: flex;
    }

    .burger {
      display: flex;
      margin-left: auto;
    }
  }
}
