.wrapper {
  height: 630px;
  display: flex;

  .textContainer {
    background-color: #f4f4f4;
    width: 50%;
    height: 100%;
    padding: 0px 110px 0px 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #262626;
      font-size: 50px;
      font-weight: 600;
    }

    p {
      color: #000000;
      font-size: 24px;
      font-weight: 400;
      margin: 24px 0px 40px;
    }
  }

  .imageContainer {
    width: 50%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 992px) {
    .textContainer {
      h1 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 688px) {
    height: 420px;
    .textContainer {
      width: 100%;
      align-items: center;
      h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        width: 259px;
      }

      p {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
      }
    }
    .imageContainer {
      display: none;
    }
  }
}
