.detailedBtn {
  width: fit-content;
  height: 60px;
  border-radius: 10px;
  background-color: #680c20;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 21.5px;
  border: none;
  cursor: pointer;
}
