.detailedBtn {
  line-height: 25px;
  width: fit-content;
  border-radius: 10px;
  background-color: #680c20;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 21.5px;
  border: none;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 100%;
  }

  @media screen and (max-width: 688px) {
    font-size: 10px;
    padding: 11.5px 35px;
    border-radius: 3px;
  }
}

.outlinedBtn {
  background-color: transparent;
  color: #000000;
  border: 1px solid #680c20;
}
